services:
  app:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      PORT: "8080"
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db
  
  db: 
    restart: always
    image: postgres:15.4-alpine3.18
    env_file:
      - .env
    volumes:
    - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
